header {
  text-align: center;
}

#featured-property{
  text-align: center;
  align-items: center;
}

nav {
  text-align: center;
}

nav a{
  padding: 10px;
  background-color: grey;
}

 #featured-property figcaption{
  text-align: center;
  font-size: 16px;
}

#featured-property p {
  width: 800px;
  text-align: center;
  margin: 0 auto;
}


#details div {
  float: left;
  text-align: center;
  background-color: red; 
  width: 25%; 
}